<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Stock Management</title>
</head>

<body>

    {{{body}}}

<!-- {{table}} -->
</body>
<!-- background image using backstretch -->
<!-- <script src="/jquery.backstretch.min.js"></script>
<script>
$.backstretch(["/2.png"]);
</script> -->
</html>
