<h2>Clinics</h2>

<div class="container"

<table id="clinicsSearch" class = "table table-bordered">
  <thead>
      <th>Clinics</th>
      <th>phoneNumber</th>
  </thead>
  <tbody>
    {{#clinics}}
    <tr>
      <td>{{name}}</td>
      <td>{{phoneNUmber}}</td>
    </tr>
    {{/clinics}}
  </tbody>
</table>
</div>
